// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*GENERAL SETTINGS*/

@font-face {
  font-family: Arabic;
  src: url(../assets/fonts/Cairo-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Arabic;
  src: url(../assets/fonts/Cairo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Arabic;
  src: url(../assets/fonts/Cairo-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Arabic;
  src: url(../assets/fonts/Cairo-Regular.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Arabic;
  src: url(../assets/fonts/Cairo-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Arabic;
  src: url(../assets/fonts/Cairo-ExtraLight.ttf);
  font-weight: 100;
}

* {
  font-family: Arabic;
}

input::-webkit-input-placeholder {
  color: #bbb !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #B6B3C9 !important;
  font-weight: 500 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B6B3C9 !important;
  font-weight: 500 !important;
}

input:-ms-input-placeholder {
  color: #B6B3C9 !important;
  font-weight: 500 !important;
}
.bar-button-md[icon-only]{
    font-size: 16px;
}
.bar-button-md[icon-only] ion-icon{
    font-size: 20px;
}
.transparent .toolbar-background-md {
  background: transparent;
  box-shadow: none;
}
.showAlert,.alert-button-group{
  direction: rtl;
  text-align: right;
}
.alert-button{
  width: 45%;
}
.alert-radio{
  direction: rtl;
  padding-right: 20px;
}
.transparent::after {
  display: none;
}

.mainNav {
  text-align: center;
}

.mainNav .tobeIcon {
  font-size: 20px;
  padding: 0 5px;
}

.mainNav .toolbar-background-ios {
  background: rgba(118, 0, 131, 1);
  /* Old Browsers */
  background: -moz-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(118, 0, 131, 1)), color-stop(100%, rgba(155, 0, 175, 1)));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* IE 10+ */
  background: linear-gradient(to right, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#760083', endColorstr='#9b00af', GradientType=1);
  /* IE6-9 */
}

.mainNav .bar-button-default-md, .mainNav .bar-button-clear-md-default, .mainNav .bar-button-md-default {
  color: #fff;
}

.mainNav .toolbar-title-md {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}
 
.discover-header {
  direction: rtl;
}
.toolbar-ios {
    padding: 4px !important;
    min-height: 44px !important;
}
.noborder{
  border: none;
  border-bottom: hidden;
}
