<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="game"></ion-icon>
    </button>
    <ion-title>game</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="data.startGameVisible">
      <ion-row>
        <ion-col>
          <button ion-button round (click)="StartGame()" class="startGame-button">New Game</button>
        </ion-col>
        <ion-col>
       <button ion-button round (click)="StatisticGame()" class="statistic-button">Statistic </button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-label *ngIf="!data.startGameVisible">{{LabelText}}</ion-label>

  <div class="progress-wrapper" (click)="StopCounter()" *ngIf="!data.startGameVisible">
    <div class="current progress-text" ng-reflect-ng-style="[object Object]" >{{currentvalue}}/{{maxvalue}}</div>
    <round-progress 
  [current]="currentvalue"
  [max]="maxvalue" [responsive]="true" [color]="'violet'" 


>
</round-progress>
  </div>
  <ion-label *ngIf="!data.startGameVisible">Successful Sequentially attempt {{attempt_number-1}}</ion-label>

</ion-content>
