<ion-menu [content]="content" >
    <ion-content>
  <div #header>
    <ion-row style="align-items:center;">
      <ion-col col-3>
        
      </ion-col>
      <ion-col col-6>
        <img class="user-avatar round"  src="assets/icon/catch.png" />

      </ion-col>
      <ion-col col-3>
      </ion-col>
    </ion-row>
  
  </div>

    <ion-list no-lines>
        <button menuClose ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon ios="ios-home" md="md-home" icon-left></ion-icon>
          {{p.title}}
        </button>
        <button menuClose ion-item detail-none  (click)="LogOut()">
          <ion-icon ios="ios-lock" md="md-lock" icon-left></ion-icon>
          LogOut
        </button>
      </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
