<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="transparent">
  <ion-navbar hideBackButton>
    <ion-buttons end>
      <button (click)="goBack()" ion-button icon-only color="royal">
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>


<ion-content padding class="register-page">
  <div class="register-container">
    <form [formGroup] = "MyForm" (ngSubmit)="register()" >
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="data.email" placeholder="Enter Your Email"  formControlName="email" ngDefaultControl>
      <p *ngIf="MyForm.get('email').errors&&data.email!=''">please ,Enter Valid Email</p>
      
    
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="data.password" placeholder="**************" formControlName="password" ngDefaultControl>
      <p *ngIf="MyForm.get('password').errors&&data.password!=''">password should more than 6 character and number</p>

      <label>Confirm Password</label>
      <input type="password" name="confirmpassword" [(ngModel)]="data.confirmpassword"  placeholder="**************" formControlName="confirmpassword" ngDefaultControl>
      
      <p  *ngIf="(data.password != data.confirmpassword)&&(data.password !='')">
        Please make sure you type your password
      </p>
    
      <button [disabled]="(data.password != data.confirmpassword)||!MyForm.valid" ion-button round block small class="login-fill-button">Sign Up</button>

    </form>
  </div>
</ion-content>
