<ion-header class="transparent">
  <ion-navbar hideBackButton>
    <ion-buttons end>
      <button (click)="goBack()" ion-button icon-only color="royal">
          <ion-icon name="ios-arrow-forward-outline"></ion-icon>
      </button>
    </ion-buttons>
   
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="showValue">
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

          Total Number of Games  # <span class="color-icon-list">{{arrayitems.totals.total}}</span>  game
          </div>
    </ion-item>
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Number of  End Games  # <span class="color-icon-list">{{arrayitems.totals.ended}} </span> game
          </div>
    </ion-item>

    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Average Time To end Game  # <span class="color-icon-list">{{arrayitems.games_time.average}} </span> seconds
          </div>
    </ion-item>
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Best Time To end Game  # <span class="color-icon-list">{{arrayitems.games_time.best}}</span> seconds
          </div>
    </ion-item>
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Worest Time To end Game  # <span class="color-icon-list">{{arrayitems.games_time.worst}} </span> seconds
          </div>
    </ion-item>
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Average Attempt To end Game  # <span class="color-icon-list">{{arrayitems.games_attempts.average}} </span>attempt
          </div>
    </ion-item>
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Best Attempt To end Game  # <span class="color-icon-list">{{arrayitems.games_attempts.best}} </span> attempt
          </div>
    </ion-item>
    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>

           Worest Attempt To end Game  # <span class="color-icon-list">{{arrayitems.games_attempts.worst}}</span> attempt
          </div>
    </ion-item>

    <ion-item>
        <div class="item-note" item-end>
            <ion-icon name="trending-up"></ion-icon>
            My rank  #  <span class="color-icon-list">{{arrayitems.rank.me}}</span> In Total {{arrayitems.rank.total}} Players
          </div>
    </ion-item>
   
  </ion-list>
 
</ion-content>
