@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jgpua3');
  src:  url('fonts/icomoon.eot?jgpua3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jgpua3') format('truetype'),
    url('fonts/icomoon.woff?jgpua3') format('woff'),
    url('fonts/icomoon.svg?jgpua3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Add-Cours-icon:before {
  content: "\e900";
}
.icon-Address-Icon:before {
  content: "\e901";
}
.icon-Art-Icon:before {
  content: "\e902";
}
.icon-Business-Icon:before {
  content: "\e903";
}
.icon-Charity-Icon:before {
  content: "\e904";
}
.icon-Community-Icon:before {
  content: "\e905";
}
.icon-Current-Courses-icon:before {
  content: "\e906";
}
.icon-Date-Icon:before {
  content: "\e907";
}
.icon-Edit-account-icon:before {
  content: "\e908";
}
.icon-edit-icon:before {
  content: "\e909";
}
.icon-Family-Icon:before {
  content: "\e90a";
}
.icon-Fashion-Icon:before {
  content: "\e90b";
}
.icon-Films-Icon:before {
  content: "\e90c";
}
.icon-Food-Icon:before {
  content: "\e90d";
}
.icon-Government-Icon:before {
  content: "\e90e";
}
.icon-Health-Icon:before {
  content: "\e90f";
}
.icon-Hobbies-Icon:before {
  content: "\e910";
}
.icon-Holiday-Icon:before {
  content: "\e911";
}
.icon-icon .path1:before {
  content: "\e912";
  color: rgb(247, 247, 247);
}
.icon-icon .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(235, 242, 255);
}
.icon-icon .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(147, 63, 171);
}
.icon-icon .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.icon-icon .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.icon-icon .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.icon-icon .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(235, 242, 255);
}
.icon-icon .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(147, 63, 171);
}
.icon-icon .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.icon-icon .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.icon-icon .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.icon-Life-Style-Icon:before {
  content: "\e91d";
}
.icon-Music-Icon:before {
  content: "\e91e";
}
.icon-Other-Icon:before {
  content: "\e91f";
}
.icon-Person-icon:before {
  content: "\e920";
}
.icon-Place-icon:before {
  content: "\e921";
}
.icon-Profits-icon:before {
  content: "\e922";
}
.icon-Sciences-Icon:before {
  content: "\e923";
}
.icon-Search-icon:before {
  content: "\e924";
}
.icon-Spirituality-Icon:before {
  content: "\e925";
}
.icon-Sport-Icon:before {
  content: "\e926";
}
.icon-Testimonials-icon:before {
  content: "\e927";
}
.icon-Travel-Icon:before {
  content: "\e928";
}
.icon-Trips-Icon:before {
  content: "\e929";
}

