page-login {

.register-page {
  text-align: left;
  direction: ltr;
  padding: 50px;
}

.register-container {
  padding-top: 50px;
  width: 80%;
  margin-right: 10%;
}

label {
  display: block;
  color: #333;
  font-size: 1em;
  color: #a1a6bb;
  font-weight: 600;
  padding: 7px 0;
}

input {
  border: 0;
  background-color: color($colors, third);
  border-radius: 4px;
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #eae9ef;
  color: color($colors, secondary);
}
.login-fill-button {
  padding: 20px 0;
  margin-top: 20px;
  font-size: 14px;
  height: 45px;
  font-weight: bold;
}

button[color=light]{
    color: #9999cc !important;
    text-decoration: underline;
    height: 15px;
    padding: 10px;
    margin-top: 20px;
}

.divider-div {
  text-align: center;
  color: color($colors, secondary);
  font-weight: 600;
  position: relative;
  display: block;
  font-size: 13px;
}
.link-div {
  text-align: center;
  color: color($colors, secondary);
  font-weight: 600;
  position: relative;
  display: block;
  font-size: 13px;
 
}

.divider-div p {
  display: inline-block;
  background-color: color($colors, white-color);
  margin: 0;
  line-height: 20px;
  padding: 10px;
}

.divider-div::after {
  content: "";
  position: absolute;
  bottom: 15px;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  left: 0;
  z-index: -1;
}

.register-login-icons {
  text-align: center;
  padding: 0 40px;
}

.register-login-icon {
  display: inline-block;
}

.register-login-icons .facebook-icon {
  background-color: #4C449C;
  height: 40px;
  padding-top: 10px;
  width: 40px;
  border-radius: 50%;
}

.register-login-icons .twitter-icon {
  background-color: #6999F3;
  color: color($colors, white-color);
  font-size: 16px;
  height: 40px;
  padding-top: 5px;
  width: 40px;
  border-radius: 50%;
}

.register-login-icons .google-icon {
  background-color: #DE3C30;
  font-size: 16px;
  color: color($colors, white-color);
  height: 40px;
  padding-top: 5px;
  width: 40px;
  border-radius: 50%;
}

}
