<ion-header class="transparent">

</ion-header>


<ion-content padding class="register-page">
  <div class="register-container">
  <form [formGroup] = "MyForm" (ngSubmit)="login()">
    <label>Email</label>
    <input  type="email" [(ngModel)]="data.email" name="email" placeholder="Enter Your Email" formControlName="email" ngDefaultControl>
    <p *ngIf="MyForm.get('email').errors&&data.email!=''">please , Enter Valid Email</p>

    <label>Password</label>
    <input type="password" [(ngModel)]="data.password" name="password" placeholder="*******" formControlName="password" ngDefaultControl>
    <p *ngIf="MyForm.get('password').errors&&data.password!=''">password should more than 3 character and number</p>
    
    <div class="link-div" (click)="goToRegister()"><p>Sign Up</p></div>
    <button [disabled]="!MyForm.valid" ion-button round block small class="login-fill-button">Login</button>
 </form>
   
  </div>
</ion-content>
