@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jgpua3');
  src:  url('../fonts/icomoon.eot?jgpua3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jgpua3') format('truetype'),
    url('../fonts/icomoon.woff?jgpua3') format('woff'),
    url('../fonts/icomoon.svg?jgpua3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tobeIcon-"], [class*=" tobeIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tobeIcon-Add-Cours-tobeIcon:before {
  content: "\e900";
}
.tobeIcon-Address-tobeIcon:before {
  content: "\e901";
}
.tobeIcon-Art-tobeIcon:before {
  content: "\e902";
}
.tobeIcon-Business-tobeIcon:before {
  content: "\e903";
}
.tobeIcon-Charity-tobeIcon:before {
  content: "\e904";
}
.tobeIcon-Community-tobeIcon:before {
  content: "\e905";
}
.tobeIcon-Current-Courses-tobeIcon:before {
  content: "\e906";
}
.tobeIcon-Date-tobeIcon:before {
  content: "\e907";
}
.tobeIcon-Edit-account-tobeIcon:before {
  content: "\e908";
}
.tobeIcon-edit-tobeIcon:before {
  content: "\e909";
}
.tobeIcon-Family-tobeIcon:before {
  content: "\e90a";
}
.tobeIcon-Fashion-tobeIcon:before {
  content: "\e90b";
}
.tobeIcon-Films-tobeIcon:before {
  content: "\e90c";
}
.tobeIcon-Food-tobeIcon:before {
  content: "\e90d";
}
.tobeIcon-Government-tobeIcon:before {
  content: "\e90e";
}
.tobeIcon-Health-tobeIcon:before {
  content: "\e90f";
}
.tobeIcon-Hobbies-tobeIcon:before {
  content: "\e910";
}
.tobeIcon-Holiday-tobeIcon:before {
  content: "\e911";
}
.tobeIcon-tobeIcon .path1:before {
  content: "\e912";
  color: rgb(247, 247, 247);
}
.tobeIcon-tobeIcon .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(235, 242, 255);
}
.tobeIcon-tobeIcon .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(147, 63, 171);
}
.tobeIcon-tobeIcon .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.tobeIcon-tobeIcon .path5:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.tobeIcon-tobeIcon .path6:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.tobeIcon-tobeIcon .path7:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(235, 242, 255);
}
.tobeIcon-tobeIcon .path8:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(147, 63, 171);
}
.tobeIcon-tobeIcon .path9:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.tobeIcon-tobeIcon .path10:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.tobeIcon-tobeIcon .path11:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(214, 220, 237);
}
.tobeIcon-Life-Style-tobeIcon:before {
  content: "\e91d";
}
.tobeIcon-Music-tobeIcon:before {
  content: "\e91e";
}
.tobeIcon-Other-tobeIcon:before {
  content: "\e91f";
}
.tobeIcon-Person-tobeIcon:before {
  content: "\e920";
}
.tobeIcon-Place-tobeIcon:before {
  content: "\e921";
}
.tobeIcon-Profits-tobeIcon:before {
  content: "\e922";
}
.tobeIcon-Sciences-tobeIcon:before {
  content: "\e923";
}
.tobeIcon-Search-tobeIcon:before {
  content: "\e924";
}
.tobeIcon-Spirituality-tobeIcon:before {
  content: "\e925";
}
.tobeIcon-Sport-tobeIcon:before {
  content: "\e926";
}
.tobeIcon-Testimonials-tobeIcon:before {
  content: "\e927";
}
.tobeIcon-Travel-tobeIcon:before {
  content: "\e928";
}
.tobeIcon-Trips-tobeIcon:before {
  content: "\e929";
}
