/*GENERAL SETTINGS*/

@font-face {
  font-family: Arabic;
  src: url(../fonts/Cairo-Black.ttf);
  font-weight: 900;
}

@font-face {
  font-family: Arabic;
  src: url(../fonts/Cairo-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Arabic;
  src: url(../fonts/Cairo-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Arabic;
  src: url(../fonts/Cairo-Regular.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Arabic;
  src: url(../fonts/Cairo-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Arabic;
  src: url(../fonts/Cairo-ExtraLight.ttf);
  font-weight: 100;
}

* {
  font-family: Arabic;
}

input::-webkit-input-placeholder {
  color: #bbb !important;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: #B6B3C9 !important;
  font-weight: 500 !important;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #B6B3C9 !important;
  font-weight: 500 !important;
}

input:-ms-input-placeholder {
  color: #B6B3C9 !important;
  font-weight: 500 !important;
}
.bar-button-md[icon-only]{
    font-size: 18px;
}
.bar-button-md[icon-only] ion-icon{
    font-size: 20px;
}
.transparent .toolbar-background-md {
  background: transparent;
  box-shadow: none;
}

.transparent::after {
  display: none;
}

.mainNav {
  text-align: center;
}

.mainNav .tobeIcon {
  font-size: 20px;
  padding: 0 5px;
}

.mainNav .toolbar-background-ios {
  background: rgba(118, 0, 131, 1);
  /* Old Browsers */
  background: -moz-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(118, 0, 131, 1)), color-stop(100%, rgba(155, 0, 175, 1)));
  /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* IE 10+ */
  background: linear-gradient(to right, rgba(118, 0, 131, 1) 0%, rgba(155, 0, 175, 1) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#760083', endColorstr='#9b00af', GradientType=1);
  /* IE6-9 */
}

.mainNav .bar-button-default-md, .mainNav .bar-button-clear-md-default, .mainNav .bar-button-md-default {
  color: #fff;
}

.mainNav .toolbar-title-md {
  color: #fff;
}


/*SPLASH SCREEN (LOGIN SCREEN)*/

.splash-page {
  text-align: center;
}

.splash-logo {
  width: 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.splash-fill-button, .splash-bordered-button {
  padding: 20px 0;
  margin-top: 20px;
  width: 80%;
  margin-left: 10%;
  font-weight: 600;
}

.splash-bordered-button {
  border-color: #A09BBD;
  border-width: 2px;
  color: #A09BBD;
}

.skip-link {
  color: #A09BBD;
  display: block;
  margin-top: 10px;
}


/*REGISTER PAGE SETTINGS*/

.register-page {
  text-align: right;
  direction: rtl;
  padding: 50px;
}

.register-container {
  padding-top: 50px;
  width: 100%;
  margin-right: 10%;
}

.register-page label {
  display: block;
  color: #333;
  font-size: 14px;
  color: #A09BBD;
  font-weight: 600;
}

.register-page input {
  border: 0;
  background-color: #F1F0F7;
  border-radius: 4px;
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 8px;
  border: 2px solid #ededed;
  color: #A09BBD;
}

.login-fill-button {
  padding: 20px 0;
  margin-top: 20px;
  font-size: 16px;
}

.divider-div {
  text-align: center;
  color: #A09BBD;
  font-weight: 600;
  position: relative;
  display: block;
  font-size: 13px;
}

.divider-div p {
  display: inline-block;
  background-color: #fff;
  margin: 0;
  line-height: 20px;
  padding: 10px;
}

.divider-div::after {
  content: "";
  position: absolute;
  bottom: 15px;
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  left: 0;
  z-index: -1;
}

.register-login-icons {
  text-align: center;
  padding: 0 40px;
}

.register-login-icon {
  display: inline-block;
}

.register-login-icons .facebook-icon {
  background-color: #4C449C;
  height: 40px;
  padding-top: 10px;
  width: 40px;
  border-radius: 50%;
}

.register-login-icons .twitter-icon {
  background-color: #6999F3;
  color: #fff;
  font-size: 16px;
  height: 40px;
  padding-top: 5px;
  width: 40px;
  border-radius: 50%;
}

.register-login-icons .google-icon {
  background-color: #DE3C30;
  font-size: 16px;
  color: #fff;
  height: 40px;
  padding-top: 5px;
  width: 40px;
  border-radius: 50%;
}


/*DISCOVER PAGE SETTINGS*/

.discover-header {
  direction: rtl;
}

.discover-subnav .toolbar-background {
  background-color: #fff;
}

.discover-subnav .toolbar-title-md {
  font-size: 14px;
  color: #A09BBD;
  padding-bottom: 3px;
}

.discover-subnav .toolbar-title-md i {
  color: #9a00af;
  font-size: 16px;
  margin-left: 10px;
}

.discover-tabbar {
  padding: 0;
  min-height: 0;
}

.discover-tabbar .toolbar-background {
  background-color: #fff;
  border-top: 1px solid #eaeaea;
}

.discover-tabbar .segment .segment-button {
  color: #A09BBD;
  border-bottom: 2px solid #fff;
  min-width: 100px;
}

.discover-tabbar .segment .segment-activated {
  border-bottom: 2px solid #9a00af;
  color: #9a00af;
}
ion-scroll {
    white-space: nowrap;
    height: 42px;
}
.discover-page {
  direction: rtl;
}

.discover-page ion-card {
  margin: 10px 0;
  width: 100%;
  position: relative;
}

.discover-page ion-card img {
  height: 230px;
}

.discover-page ion-card .caption {
  position: absolute;
  top: 130px;
  right: 0;
  width: 100%;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding: 10px;
}

.discover-page ion-card .price {
  position: absolute;
  top: 25px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  ;
  min-width: 50px;
  padding: 1px 20px;
  color: #9a00af;
}

.discover-page ion-card .caption span {
  margin-bottom: 15px;
}

.discover-page ion-card .caption p {
  margin-top: 5px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

.discover-page ion-card ion-list button {
  color: #A09BBD;
  font-size: 12px;
  padding-right: 10px;
  border-bottom: 1px solid #eaeaea;
}

.discover-page ion-card ion-list .label {
  margin: 7px;
}


/*COURSE DETAILS PAGE*/

.course-details-header .toolbar-background {
  background-color: transparent;
}

.course-details-header::after {
  display: none;
}

.course-details-header .bar-buttons {
  padding: 0 10px;
}

.course-details-header .bar-buttons img {
  height: 18px;
}

.course-details-header .bar-button-default {
  color: #fff;
}

.course-details-page .fixed-content, .course-details-page .scroll-content {
  margin-top: 0 !important;
}

.course-details-page ion-slides {
  height: auto;
}

.course-details-page .swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 20px;
  text-align: left;
  padding-left: 10px;
}

.course-details-page .swiper-pagination-bullet {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 7px;
  width: 7px;
}

.course-details-page .swiper-pagination-bullet-active {
  background-color: #fff;
  height: 10px;
  width: 10px;
}

.course-details-page .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 2px;
}

.course-details-inner {
  direction: rtl;
}

.course-details-inner .content-part {
  padding: 0 20px;
}

.course-details-inner * {
  color: #BCBACF;
  line-height: 20px;
}

.course-details-inner span {
  font-weight: 300;
  font-size: 12px;
}

.course-details-inner h1 {
  color: #A09BBD;
  margin: 0;
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 600;
}

.course-details-inner h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.course-details-inner p {
  margin: 0;
  font-size: 11px;
}

.course-details-inner ion-list button {
  color: #A09BBD;
  font-size: 12px;
  padding-right: 0px;
  /*border-bottom: 1px solid #eaeaea;*/
}

.course-details-inner .item-md [item-left], .course-details-inner .item-md [item-right] {
  margin: 0;
}

.course-details-inner .list-md .item-block .item-inner {
  border: 0;
}

.course-details-inner ion-list .label {
  margin: 0px;
}

.course-details-inner ion-list .item-block {
  min-height: 0;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #efefef;
  margin: 5px 0;
}

.course-details-inner .trainer {
  margin: 0;
  margin-top: 5px;
}

.course-details-inner .trainer img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.course-details-inner .trainer * {
  font-weight: bold;
  font-size: 14px;
}

.course-details-inner .footer {
  margin-top: 5px;
}

.course-details-inner .footer * {
  font-size: 12px;
}

.course-details-inner .button {
  border-radius: 0;
  font-size: 20px;
  margin: 0;
}

.course-details-inner .button-inner {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}


/*ORDER PAGE SETTINGS*/

.order-page {
  direction: rtl;
}

.order-page * {
  color: #BCBACF;
  line-height: 20px;
}

.order-page span {
  font-weight: 300;
  font-size: 12px;
}

.order-page h1 {
  color: #A09BBD;
  margin: 0;
  font-size: 14px;
  padding-bottom: 10px;
  font-weight: 600;
}

.order-page h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.order-page p {
  margin: 0;
  font-size: 11px;
}

.order-page ion-list button {
  color: #A09BBD;
  font-size: 12px;
  padding-right: 0px;
  /*border-bottom: 1px solid #eaeaea;*/
}

.order-page .item-md [item-left], .order-page .item-md [item-right] {
  margin: 0;
}

.order-page .list-md .item-block .item-inner {
  border: 0;
}

.order-page ion-list .label {
  margin: 0px;
}

.order-page ion-list .item-block {
  min-height: 0;
}

.order-page .divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #efefef;
  margin: 5px 0;
}

.order-page .content-part {
  padding: 0 20px;
}

.order-page .order-row {
  background-color: #f9f9f9;
  -webkit-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px -4px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  height: 90px;
  margin: 10px 0;
}

.order-page .order-number {
  font-size: 44px;
  font-weight: bold;
  line-height: 75px;
  text-align: center;
  border-left: 1px solid #eaeaea;
}
.order-page .order-content{
    padding-right: 10px;
}
.order-page p{
    margin: 5px 0;
}
.order-page .head{
    font-size: 14px;
    font-weight: 600;

}
.order-page .price{
    color: #9a00af;
}
.order-page .order-signs{
    height: 90px;
    text-align: center;
    font-size: 25px;
    border-right: 1px solid #eaeaea;
}
.order-page .order-signs .active{
    color: #9a00af;
}
.order-page .order-signs ion-col{
    line-height: 35px;
}
.order-page .order-signs ion-row:last-child{
    border-top: 1px solid #eaeaea;
}
.order-now .button-inner{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}



/*SEARCH PAGE SETTINGS*/
.search-subnav{
    direction: rtl;
    background-color: #fff;
}
.search-subnav .toolbar-background{
    background-color: #fff;
}
.search-subnav .searchbar-md .searchbar-search-icon{
    display: none;
}
.search-subnav i{
    font-size: 20px;
    color: #9a00af;
    position: absolute;
    top: 17px;
    right: 22px;
}
.search-subnav .searchbar .searchbar-input{
    box-shadow: none;
}
.search-sub-subnav{
    direction: rtl;
}
.search-page{
    direction: rtl;
    background-color: #eaeaea;
}
.search-page .item{
    background-color: transparent;
    color: #999;
    font-size: 12px;
}
.search-page .item-cover{
    border-bottom: 1px solid #ddd;
}
.search-page .checkbox .checkbox-icon{
    background-color: transparent;
    height: 15px;
    width: 15px;
}
.search-page .checkbox-ios-primary .checkbox-checked .checkbox-inner{
    top: 3px;
    left: 3px;
    height: 5px;
    width: 7px;
}
.search-page .checkbox-ios-primary .checkbox-checked{
    background-color: #9a00af;
}
.search-page .item.item .checkbox{
    margin: 0;
}



/*INTERESTS PAGE SETTINGS*/
.interests-page{
    direction: rtl;
    background-color: #eaeaea;
}
.interests-col-inner{
    text-align: center;
}
.interests-col-inner p{
    font-size: 12px;
    margin: 0;
}
.interests-page .list-md[no-lines] .item-block,.interests-page  .list-md[no-lines] ion-item-options,.interests-page .list-md[no-lines] .item .item-inner{
    display: block;
    text-align: center;
    font-size: 35px;
    color: #9a00af;
}
.interests-page .list-md[no-lines] .item-block img,.interests-page  .list-md[no-lines] ion-item-options img,.interests-page .list-md[no-lines] .item .item-inner img{
    width: 40px;
}

.interests-page .checkbox-ios .checkbox-icon{
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 15px;
    width: 15px;
}
.interests-page .checkbox-ios .checkbox-checked .checkbox-inner{
    top: 2px;
    left: 5px;
}




/*RESERVATIONS PAGE SETTINGS*/
.reservations-page{
    direction: rtl;
}
.reservations-page .reservations-card h2{
    color: #A09BBD;
    font-weight: bold;
    font-size: 14px;
}
.reservations-page .reservations-card p{
    color: #aaa;
}
.reservations-page .reservations-card span{
    color: #9a00af;
}
.reservations-page .reservations-card .button{
    margin: 0;
    border-radius: 0;
    padding: 0;

}
.reservations-page .reservations-card .grid{
    padding: 0;
}
.reservations-page .reservations-card .button-inner{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    direction: rtl;
    display: block;
}
.reservations-page .reservations-card .button-inner img{
    display: block;
    width: 25px;
    max-width: none;
}
.reservations-page .reservations-card .button-inner p{
    margin: 0;
    padding: 0;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
}





/*ADD COURSE PAGE SETTINGS*/
.add-page {
    direction: rtl;
    color: #bbb;
}
.add-page .profile-img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid #9a00af;
}
.add-page .profile-text{
    color: #bbb;
    font-size: 16px;
}
.add-page .seperator{
    font-size: 16px;
    color: #bbb;
    font-weight: bold;
}
.add-page .seperator p{
    margin: 0;
}
.add-page .add-image{
    padding-top: 10px;
    width: 65px;
}
.add-page .add-badge{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #9a00af;
    color: #fff;
    font-size: 10px;
    text-align: center;
    position: absolute;
    padding: 0;
    top: 7px;
    font-weight: bold;
    line-height: 15px;
    right: -1px;
}
.add-page .add-badge a{
    color: #fff;
}
.add-page .add-text{
    font-size: 16px;
    margin-right: 5px;
}



.add-page {
  text-align: right;
  direction: rtl;
  padding: 50px;
}

.add-page label {
  display: block;
  color: #333;
  font-size: 14px;
  color: #A09BBD;
  font-weight: 600;
  margin: 5px 0;
}
ion-select{
    max-width: 90
}

.add-page input {
  border: 0;
  background-color: #F1F0F7;
  border-radius: 4px;
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 8px;
  border: 2px solid #ededed;
  color: #A09BBD;
}
.add-page .item {
    background-color: #F1F0F7;
    border-radius: 4px;
    font-size: 12px;
    border: 2px solid #ededed;
    color: #A09BBD;
    height: 47px;
}
.add-page .grid{
    padding: 0;
}
.add-page .list{
    margin: 0;
}
.add-page .button-inner{
    font-size: 12px;
    font-weight: bold;
    padding: 0px 15px;
}
.add-page .item.item-block .item-inner{
    padding-right: 0;
}
.add-page .select-md .select-icon{
    position: absolute;
    left: 10px;
}
.add-page .date .col,.add-page .date .row{
    padding-right: 0;
    margin-right: 0;
}
.add-page .smaller-label{
    font-size: 12px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}
.add-page ion-textarea{
    border: 0;
    background-color: #F1F0F7;
    border-radius: 4px;
    font-size: 12px;
    display: block;
    width: 100%;
    padding: 8px;
    border: 2px solid #ededed;
    color: #A09BBD;
}





/*PAYMENT METHOD PAGE SETTINGS*/
.payment-method-page .item.white{
    background-color: #fff;
}




/*TRAINER PAGE SETTINGS*/
.trainer-page{
    text-align: center;
    background-color: #eaeaea;
}
.trainer-page .trainer-col-inner{
    background-color: #fff;
    height: 160px;
    padding-top: 30px;
    border-radius: 2px;
}
.trainer-page .trainer-col-inner i{
    font-size: 50px;
    color: #9a00af;
}
.trainer-page .trainer-col-inner p{
    color: #A09BBD;
}




/*BALANCE PAGE SETTINGS*/
.balance-page{
    text-align: center;
    color: #A09BBD;
    direction: rtl;
}
.balance-page .first-row p,.balance-page .first-row h2{
    font-weight: bold;
    color: #ccc;
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
.balance-page .first-row h2{
    color: #A09BBD;
}
.balance-page .balance-head{
    text-align: right;
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-right: 15px;
    font-size: 14px;
}

.balance-page .button-inner{
    font-weight: bold;
}
.balance-list .label{
    margin: 0;
}
.balance-list .item{
    min-height: none !important;
    height: 30px;
}
.balance-list .item-inner{
    color: #bbb;
    font-size: 12px;
    font-weight: bold;
}
.balance-list .item-inner p{
    font-size: 10px;
    color: #bbb;
    font-weight: bold;
}




/*TRAINER COURSE DETAILS PAGE SETTINGS*/
.trainer-course-details{
    background-color: #eaeaea;
}
.trainer-course-details .segment{
    background-color: #f9f9f9;
    margin-top: -10px;
    -webkit-box-shadow: 0px 6px 8px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 8px -8px rgba(0,0,0,0.75);
box-shadow: 0px 6px 8px -8px rgba(0,0,0,0.75);
}
.trainer-course-details .item{
    background-color: transparent;
}




/*TRAINER COURSE Registers PAGE SETTINGS*/
.trainer-course-registers .item{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.trainer-course-registers .no-margin-list .item{
    margin: 0;
    font-size: 12px;
}
.trainer-course-registers .item img{
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.trainer-course-registers .item p{
    color: #bbb;
}
.trainer-course-registers .head-item *,.trainer-course-registers .head-item p{
    font-weight: bold;
    color: #999;
    font-size: 12px;
}
.trainer-course-registers .no-margin-list .item h2{
    font-size: 12px;
    font-weight: normal;
}






/*TESTIMONIAL PAGE SETTINGS*/
.testimonial-page{
    direction: rtl;
}
.testimonial-page *{
}
.testimonial-page i{
    font-size: 60px;
    color: #9a00af;
}
.testimonial-page .item{
    background-color: #eee;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
    margin-bottom: 12px;
}
.testimonial-page .item p,.testimonial-page .item h2{
    color: #aaa;
}
